@font-face {
    font-family: 'acme-icons';
    src: url('../fonts/acme-icons.woff?2q29of') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="acma-icon-"], [class*=" acma-icon-"]  {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'acme-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #6b7280;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1 !important;
}
html.dark [class^="acma-icon-"],
html.dark [class*=" acma-icon-"]{
    color: #d1d5db;
}

.acma-icon-truck1:before {
    content: "\e900";
}
.acma-icon-truck:before {
    content: "\e9b0";
}
.acma-icon-trash:before {
    content: "\e901";
}
.acma-icon-cancel:before {
    content: "\e902";
}
.acma-icon-cancel1:before {
    content: "\e903";
}
.acma-icon-plus1:before {
    content: "\e904";
}
.acma-icon-plus2:before {
    content: "\e905";
}
.acma-icon-checkmark:before {
    content: "\e906";
}
.acma-icon-cancel2:before {
    content: "\e907";
}
.acma-icon-cross1:before {
    content: "\e909";
}
.acma-icon-plus3:before {
    content: "\e90a";
    color: #5675e0

}
.acma-icon-pencil:before {
    content: "\e90b";
}
.acma-icon-bin:before {
    content: "\e9ac";
    color: red;

}
.acma-icon-bin2:before {
    content: "\e9ad";
}

.acma-icon-sphere:before {
    content: "\e9c9";
}
.acma-icon-earth:before {
    content: "\e9ca";
}
.acma-icon-plus:before {
    content: "\ea0a";
}
.acma-icon-cancel-circle:before {
    content: "\ea0d";
}
.acma-icon-cross:before {
    content: "\ea0f";
}
.acma-icon-safari:before {
    content: "\eadd";
}
.acma-icon-world:before {
    content: "\e908";
}
.acma-icon-user:before {
    content: "\e90c";
}
.acma-icon-how_to_reg:before {
    content: "\e90d";
}

.active .acma-icon-truck1:before,
.acma-icon-truck1.active:before {
    content: "\e900";
    color: #ffffff
;
    transform: scale(1.1);
}






